<form action="date_box" method="GET">
  <table style="border:none">
    <tr>
      <td class="date_picker">From:</td>
      <td><input type="date" name="from" /></td>
      <td rowspan="2"><input style="height: 45px;" type="submit" value="Enter" /></td>
    </tr>
    <tr>
      <td class="date_picker">To:</td>
      <td><input type="date" name="to" /></td>
    </tr>
  </table>
</form>
<div class="timetable">
  <div class="week-names">
    <div>Monday</div>
    <div>Tuesday</div>
    <div>Eednesday</div>
    <div>Thursday</div>
    <div>Friday</div>
    <div class="weekend">Saturday</div>
    <div class="weekend">Sunday</div>
  </div>
  <div class="time-interval">
    <div>7:30 - 9:50</div>
    <div>10:00 - 12:20</div>
    <div>12:50 - 15:10</div>
    <div>15:10 - 17:40</div>
    <div>After 17:40</div>
  </div>
  <div class="content">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div class="weekend"></div>
    <div class="weekend"></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div class="weekend"></div>
    <div class="weekend"></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div class="weekend"></div>
    <div class="weekend"></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div class="weekend"></div>
    <div class="weekend"></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div class="weekend"></div>
    <div class="weekend"></div>
  </div>
</div>
